.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./image1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
  }
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: #ede7e7;
    list-style: none;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 1px solid rgb(225, 222, 234);
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: color .25s;
  }
  
  .SearchBar-sort-options li:hover {
    color: #d4cfcf;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
  }


.SearchBar-filter-prices ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: hsl(0, 32%, 93%);
    list-style: none;
}
  
  .SearchBar-filter-prices li {
    cursor: pointer;
    width: 2rem;
    border-bottom: 1px solid rgb(225, 222, 234);
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: color .25s;
  }
  
  .SearchBar-filter-prices li:hover {
    color: #d4cfcf;
  }
  
  .SearchBar-filter-prices li.active,
  .SearchBar-filter-prices li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
  }


.SearchBar-filter-openNow ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: hsl(0, 32%, 93%);
    list-style: none;
}
  
  .SearchBar-filter-openNow li {
    cursor: pointer;
    width: 2rem;
    border-bottom: 1px solid rgb(225, 222, 234);
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: color .25s;
  }
  
  .SearchBar-filter-openNow li:hover {
    color: #d4cfcf;
  }
  
  .SearchBar-filter-openNow li.active,
  .SearchBar-filter-openNow li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
  }

.SearchBar-dropdown {
    width: 21rem;
    padding: 1.1rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 800;
    color: #130475;
    font-style: italic;
}



.SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
}

    .SearchBar-fields input {
        width: 21rem;
        padding: 1.1rem 1rem;
        margin-right: 2.22rem;
        border: 1px solid #fff;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: 800;
        color: #130475;
        font-style: italic;
        margin-left: 10px;
    }

    .SearchBar-fields select {
        margin-left: 10px;
    }
 .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  


  .SearchBar-submit {
    text-align: center;
  }
  
  .SearchBar-submit a {
    border-radius: 4px;
    padding: 0.9rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 650;
    transition: background-color .5s;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #a7874b;
  }
  
  @media only screen and (max-width: 560px) {
    .SearchBar {
        background-image: url('./image1.jpeg');
    }
  
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }


    .SearchBar-filter-prices ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  

    .SearchBar-filter-openNow ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }


  .SearchBar-submit {
    flex-direction: column;
    align-items: center;
  }


  }
h5 {
    background: white;
    width: 90%;
}

.Searchbar-error {
    color: red;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.SearchBar-navbar{
    text-align: center;
}
